In [3]:
# config all inputs
input_file = "raw/Natural Gas - Reduced.csv";

In [5]:
import pandas as pd
# โหลดข้อมูล (ควรเปลี่ยนเส้นทางไฟล์ให้ถูกต้อง)
data = pd.read_csv(input_file, parse_dates=['date'], index_col='date')

In [6]:
data

           Total Domestic Production Total Import Grand Total
date
1986-01-28                       370            0         370
1986-02-28                       349            0         349
1986-03-28                       373            0         373
1986-04-28                       352            0         352
1986-05-28                       362            0         362
...                              ...          ...         ...
2023-08-28                     2,716        2,068       4,783
2023-09-28                     2,539        2,172       4,711
2023-10-28                     2,757        1,838       4,595
2023-11-28                     2,738        1,711       4,450
2023-12-28                     2,736        1,575       4,310

[456 rows x 3 columns]

In [18]:
# fit an ARIMA model and plot residual errors
from pandas import Timestamp
from pandas import read_csv
from pandas import DataFrame
from statsmodels.tsa.arima.model import ARIMA
from matplotlib import pyplot
# load dataset
series = read_csv('raw/shampoo.csv', header=0, index_col=0, parse_dates=True)
series
series.index = series.index.to_period('M')

            Sales
Month
2001-01-01  266.0
2001-02-01  145.9
2001-03-01  183.1
2001-04-01  119.3
2001-05-01  180.3
2001-06-01  168.5
2001-07-01  231.8
2001-08-01  224.5
2001-09-01  192.8
2001-10-01  122.9
2001-11-01  336.5
2001-12-01  185.9
2002-01-01  194.3
2002-02-01  149.5
2002-03-01  210.1
2002-04-01  273.3
2002-05-01  191.4
2002-06-01  287.0
2002-07-01  226.0
2002-08-01  303.6
2002-09-01  289.9
2002-10-01  421.6
2002-11-01  264.5
2002-12-01  342.3
2003-01-01  339.7
2003-02-01  440.4
2003-03-01  315.9
2003-04-01  439.3
2003-05-01  401.3
2003-06-01  437.4
2003-07-01  575.5
2003-08-01  407.6
2003-09-01  682.0
2003-10-01  475.3
2003-11-01  581.3
2003-12-01  646.9

In [19]:
series.index
model = ARIMA(series, order=(5,1,0))

c:\Users\User\nook-env\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)
c:\Users\User\nook-env\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)
c:\Users\User\nook-env\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)

In [ ]:

# fit an ARIMA model and plot residual errors
from pandas import datetime
from pandas import read_csv
from pandas import DataFrame
from statsmodels.tsa.arima.model import ARIMA
from matplotlib import pyplot
# load dataset
def parser(x):
 return datetime.strptime('190'+x, '%Y-%m')
series = read_csv('shampoo-sales.csv', header=0, index_col=0, parse_dates=True, squeeze=True, date_parser=parser)
series.index = series.index.to_period('M')
# fit model
model = ARIMA(series, order=(5,1,0))
model_fit = model.fit()
# summary of fit model
print(model_fit.summary())
# line plot of residuals
residuals = DataFrame(model_fit.resid)
residuals.plot()
pyplot.show()
# density plot of residuals
residuals.plot(kind='kde')
pyplot.show()
# summary stats of residuals
print(residuals.describe())